.image-upload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    background-color: white;
    border-top: 10px;
    border-bottom: 10px;
}

.image-upload__progress {
    width: 100%;
}